{% extends "base.twig" %}

{# PAGINA PER PUJAR UNA IMATGE O EDITAR-NE UNA JA CREADA
 no serveix de res ja?#}

{% block title %} Upload a picture {% endblock %}

{% block content %}
    <h1>Upload a picture</h1><br>

    <img src="/res/default_portrait.png">

    <form method="post" action="/upload">
        <input type="file" name="img" placeholder="Profile Image">
        <input type="text" name="title" placeholder="Title">
        Private? <input type="checkbox" name="private">

        <input type="submit" name="upload" value="Upload picture">
    </form>
{% endblock %}